.Table-header {
    background-color: #ccc;
    color: #ffc400;
    padding: 10px;
    text-align: left;
}
.GeorgeMichael-Row {
    background-color: plum;
}
.Other-Row {
    background-color: greenyellow;
}